
body {
	margin-left: 0%;
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
	background-color: rgb(165, 165, 165);
	
}

h1,h2{

	font-family: Sans-serif,Arial;
}

h2,p{
	font-size: xx-small;
}

.flex-nav {
	color: rgb(255, 255, 255);
    display: flex;
	justify-content: space-around;
	background-image: linear-gradient(180deg, rgb(59, 59, 59), rgb(0, 0, 0));
	
	
}
.container li {
	display: flex;
}

#company li{
	display: flex;
}

.flex-nav li{
	display: flex;
}

h3{
	font-size: large;
	font-family: Sans-serif,Arial;
	color: rgb(255, 255, 255);
}

h4{

	font-size: xx-large;
	font-family: Sans-serif,Arial;
	color: rgb(0, 0, 0)
}

h5{
	font-size: small;
	font-family: Sans-serif,Arial;
	color: rgb(0, 0, 0);
}

#footer {
    text-align: center;
	font-size: x-large;
    height: 100px;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(#111, #555);
}

#newspaper {
	column-count: 3;
	column-gap: 40px;
}
